nav.navbar.navbar-inverse(style="margin-bottom:30px")
  div.container-fluid
    div.navbar-header
      a.navbar-brand(href='/') AMO CSR
    div.collapse.navbar-collapse
      ul.nav.navbar-nav
        li.nav-item.active
          span.sr-only (current)
        li.nav-item
          a.nav-link(href='/questions/new') 새 질문
        if currentUser.adminflag==1
          li.nav-item
            a.nav-link(href='/questions/adminpage') 관리자 페이지
      
        li.nav-item
          a.nav-link(href='/questions/userpage') 내가 쓴 글
        li.nav-item
          a.nav-link(href='/signout') 로그아웃
      form.navbar-form.navbar-right
        div.form-group(action='/questions',method='GET')
          input.form-control(type='text', name='term', placeholder='Search', aria-label='Search', value=term)
          button.btn.btn-default(type='submit') 검색
          |
script.
