nav.navbar.navbar-inverse(style="margin-bottom:30px")
  div.container-fluid
    div.navbar-header
      a.navbar-brand(href='/questions') AMO CSR
    div.collapse.navbar-collapse
      ul.nav.navbar-nav
        li.nav-item.active
          span.sr-only (current)
        li.nav-item
          a.nav-link(href='/questions/new') New
        if currentUser.adminflag==1
          li.nav-item
            a.nav-link(href='/questions/adminpage') CSR Manager
        li.nav-item
          a.nav-link(href='/questions/userpage') My Page
        li.nav-item
          a.nav-link(href=`/users/${currentUser._id}/edit`) Email Register
        li.nav-item
          a.nav-link(href='/signout') LogOut
      form.navbar-form.navbar-right
        div.form-group(action='/questions',method='GET')
        // select#searchvalue.form-control(type="text",name='search')
            option(value='', selected='') 선택하세요
            option(value='item') 구분
            option(value='manager') CS담당자
            option(value='title') 제목
            option(value='noticeContent') 내용    
            option(value='author') 요청자 
        
        input.form-control(type='text', name='term', placeholder='Search', aria-label='Search', value=term)
        button.btn.btn-default(type='submit') 검색
        |
script.
