nav.navbar.navbar-expand-lg.navbar-light.bg-light
  a.navbar-brand(href='/questions') AMO
  button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarColor02', aria-controls='navbarColor02', aria-expanded='false', aria-label='Toggle navigation')
    span.navbar-toggler-icon
  #navbarColor02.collapse.navbar-collapse
    ul.navbar-nav.mr-auto
      li.nav-item.active
          span.sr-only (current)
      li.nav-item
        a.nav-link(href='/questions/new') 새 질문     
      li.nav-item
        a.nav-link(href='/signout') 로그아웃
    form.form-inline(action='/questions',method='GET')
      input.form-control.mr-sm-2(type='text', name='term', placeholder='Search', aria-label='Search', value=term)
      button.btn.btn-outline-success.my-2.my-sm-0(type='submit') 검색
      |
