extends ./layout

block content
  .container 
    .jumbotron
      h1.display-4 AMO CSR 이용법
      p.lead
        | AMO CSR은 전산업무 요청을 위해 제작되었습니다.
      hr.my-4
      p
        li 요청 사항이 있다면 상단의 '새 질문' 클릭 후 법인과 담당자를 선택해주시면 됩니다.
        li 파일 업로드는 메인 글 글쓰는 부분에 마우스로 끌어서 올리시면 됩니다.
        li 사진도 마찬가지로 사진파일을 끌어서 올리면 똑같이 적용 됩니다.
        li 다른사람이 댓글을 달았을 경우 홈페이지 우측 상단에 메세지가 뜹니다.
        li 요청, 질문 사항이 해결이 되었다면 처리 완료 버튼을 클릭해주시면 됩니다.
        li 요청을 주시기 전에 다른 분들이 이미 요청을 했을 수 있으니 아래 버튼 클릭 후 먼저 찾아보시길 권장합니다.
        li 또한 우측 상단에 검색을 활용 할 수 있습니다. 
      a.btn.btn-primary.btn-lg(href='questions' role='button') 요청 사항 리스트

            
    
    
