@import url('https://fonts.googleapis.com/css?family=Montserrat|Raleway');

body {
  font: 1.4rem 'Montserrat', sans-serif;
  & > .main-content {
    min-height: 400px;
  }
}

a:hover {
  text-decoration: none;
}
.browse_button{
  text-align: center;
}
.form-actions {
  padding: 19px 20px 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border-top: 1px solid #e5e5e5;
}

.footer {
  margin-top: 1em;
  padding-top: 1em;
  color: #aaa;
  border-top: .05rem solid #e5e5e5;
}

.main-title {
  font-family: 'Raleway';
  font-size: 2.5rem;
  margin: 1em 0 0.5em 0;
  border-bottom: 1px solid #eee;
  color: #011a72;
}

.header > .navbar {
  background-color: #ffffff !important; }
  @media (max-width: 575px){
    #top_jumbo{
      display: none;
    }
    .carousel-inner{
      display:none;
    }
    #small_search{
      display: block;
    }
    #footer{
      height:200px;
      font-size:25px;
    }
    #pc{
      display:none;
    }
  }
  @media (min-width: 575px)
  {
    #small_search{
      display: none;
    }

    #footer #pc{
      margin-bottom:270px;
    }
  }
@media (min-width: 992px){
#last_li{
  border-right: 1px solid #E6E6E6;
}
#total_nav > h2{
  padding-right: 20px;
  border-right: 1px solid #E6E6E6;
}

#top_jumbo{
  margin-left: 150px;
  margin-right: 150px;
}
}
@media (min-width: 1200px)
{
  #top_jumbo
  {
    margin-left: 370px;
    margin-right: 370px;
  }
}
#top_jumbo{
  position: relative;
  top: -100px;
  z-index: 2;
  padding-top: 2em;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 2em;
  margin-top: 0px;
  background-color: rgba( 255, 255, 255, 0.95 );
  box-shadow:0 5px 20px rgba(0, 0, 0, 0.8);
}
.jumbotron > .container > h1
{
  font-size: 2.5em;
  color: #0431B4;
  font-weight: bold;
  font-style: italic;
}
.search-input-group{
  margin: 1em 0;
  width: 100%;
  position: relative;
  input {
    padding-left: 2.5em;
    width: 100%!important;
  }
  i {
    font-size: 1.3em;
    top: 0.4em;
    left: 0.5em;
    color: #bababa;
    position: absolute;
  }

}
#mid_term{
  padding-bottom: 15px;
}
.card-deck .card{
  margin-bottom: 20px;
}
#second_term{
  text-align:center;
  padding-bottom: 30px;
  padding-top:20px;
  color: #D8D8D8;
}
#more_item .row{
  padding-top: 20px;
  padding-bottom: 20px;
}
#more_item .display3{
  color:#F2F2F2;
}
