@import url("https://fonts.googleapis.com/css?family=Montserrat|Raleway");
body {
  font: 1.4rem 'Montserrat', sans-serif; }
  body > .main-content {
    min-height: 400px; }

.pop-layer .pop-container {
  padding: 20px 25px; }

.pop-layer p.ctxt {
  color: #666;
  line-height: 25px; }

.pop-layer .btn-r {
  width: 100%;
  margin: 10px 0 20px;
  padding-top: 10px;
  border-top: 1px solid #DDD;
  text-align: right; }

.pop-layer {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 410px;
  height: auto;
  background-color: #fff;
  border: 5px solid #3571B5;
  z-index: 10; }

.dim-layer {
  display: none;
  position: fixed;
  _position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100; }

.dim-layer .dimBg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: .5;
  filter: alpha(opacity=50); }

.dim-layer .pop-layer {
  display: block; }

a.btn-layerClose {
  display: inline-block;
  height: 25px;
  padding: 0 14px 0;
  border: 1px solid #304a8a;
  background-color: #3f5a9d;
  font-size: 13px;
  color: #fff;
  line-height: 25px; }

a.btn-layerSearch {
  display: inline-block;
  height: 25px;
  padding: 0 14px 0;
  border: 1px solid #304a8a;
  background-color: #3f5a9d;
  font-size: 13px;
  color: #fff;
  line-height: 25px; }

a.btn-layerClose:hover {
  border: 1px solid #091940;
  background-color: #1f326a;
  color: #fff; }

a:hover {
  text-decoration: none; }

.browse_button {
  text-align: center; }

.form-actions {
  padding: 19px 20px 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border-top: 1px solid #e5e5e5; }

.footer {
  margin-top: 1em;
  padding-top: 1em;
  color: #aaa;
  border-top: .05rem solid #e5e5e5; }

.container {
  width: 1400px;
  max-width: none !important; }

.main-title {
  font-family: 'Raleway';
  font-size: 2.5rem;
  margin: 1em 0 0.5em 0;
  border-bottom: 1px solid #eee;
  color: #011a72; }

#pagination {
  text-align: center; }

.header > .navbar {
  background-color: #ffffff !important; }

@media (max-width: 575px) {
  #top_jumbo {
    display: none; }
  .carousel-inner {
    display: none; }
  #small_search {
    display: block; }
  #footer {
    height: 200px;
    font-size: 25px; }
  #pc {
    display: none; } }

@media (min-width: 575px) {
  #small_search {
    display: none; }
  #footer #pc {
    margin-bottom: 270px; } }

@media (min-width: 992px) {
  #last_li {
    border-right: 1px solid #E6E6E6; }
  #total_nav > h2 {
    padding-right: 20px;
    border-right: 1px solid #E6E6E6; }
  #top_jumbo {
    margin-left: 150px;
    margin-right: 150px; } }

@media (min-width: 1200px) {
  #top_jumbo {
    margin-left: 370px;
    margin-right: 370px; } }

#top_jumbo {
  position: relative;
  top: -100px;
  z-index: 2;
  padding-top: 2em;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 2em;
  margin-top: 0px;
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.8); }

.jumbotron > .container > h1 {
  font-size: 2.5em;
  color: #0431B4;
  font-weight: bold;
  font-style: italic; }

.search-input-group {
  margin: 1em 0;
  width: 100%;
  position: relative; }
  .search-input-group input {
    padding-left: 2.5em;
    width: 100% !important; }
  .search-input-group i {
    font-size: 1.3em;
    top: 0.4em;
    left: 0.5em;
    color: #bababa;
    position: absolute; }

#mid_term {
  padding-bottom: 15px; }

.card-deck .card {
  margin-bottom: 20px; }

#second_term {
  text-align: center;
  padding-bottom: 30px;
  padding-top: 20px;
  color: #D8D8D8; }

#more_item .row {
  padding-top: 20px;
  padding-bottom: 20px; }

#more_item .display3 {
  color: #F2F2F2; }

.form-signin {
  width: 482px;
  height: 582px;
  margin: 0 auto;
  padding: 1em;
  text-align: center; }
  .form-signin .card {
    height: 562px;
    opacity: 0.9; }
  .form-signin .card-body > img {
    width: 170px;
    height: auto;
    padding-bottom: 50px;
    padding-top: 50px; }
  .form-signin .form-signin-heading, .form-signin .checkbox {
    margin-bottom: 10px; }
  .form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px; }
  .form-signin .form-control:focus {
    z-index: 2; }
  .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0; }
  .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0; }
  .form-signin .sub {
    margin: 1em 0; }

.main-title .small {
  float: right;
  font-size: 1rem;
  color: #bbb; }

.question {
  line-height: 160%;
  margin-bottom: 2em; }
  .question .title {
    font-size: 1.3rem; }
  .question .content {
    color: #666; }
  .question .tags {
    margin: 0.5em 0; }

.author {
  text-align: right;
  font-size: 0.8em;
  color: #81bbf2; }

.numbers {
  text-align: left;
  color: #81bbf2; }

.number {
  font-size: 1.2em;
  font-weight: bold;
  color: #0f5ca6; }

.questions .content {
  max-width: 100%;
  max-height: 5em;
  overflow: hidden;
  text-overflow: ellipsis; }

.show .content {
  max-width: 100%;
  white-space: pre-wrap; }

.show .buttons {
  margin: 1em 0; }

.show .answer {
  position: relative;
  margin-bottom: 1em; }
  .show .answer .like-badge {
    text-align: center;
    padding: 0.5em;
    position: absolute; }
    .show .answer .like-badge .button {
      font-size: 0.8em; }
  .show .answer .content {
    margin-bottom: 0.5em;
    color: #888; }

.nav-button {
  width: 95px;
  padding-right: 10px; }

div.content img {
  max-width: 100%;
  height: auto; }

.status-btn {
  cursor: pointer; }
  .status-btn .for-loading {
    display: none; }
  .status-btn.loading {
    filter: opacity(30%);
    cursor: wait; }
    .status-btn.loading > span {
      display: none; }
    .status-btn.loading .for-loading {
      display: inline-block; }
  .status-btn.disabled {
    color: #bbb;
    cursor: default; }

#firststep {
  cursor: pointer; }
  #firststep .for-loading {
    display: none; }
  #firststep.loading {
    filter: opacity(30%);
    cursor: wait; }
    #firststep.loading > span {
      display: none; }
    #firststep.loading .for-loading {
      display: inline-block; }
  #firststep.disabled {
    color: #bbb;
    cursor: default; }

.footer {
  bottom: 0;
  height: 100px;
  width: 100%; }

/*# sourceMappingURL=style.css.map */