extends ../layout

block content
  .container
    h1.main-title Option Update
    form(action=`/options/${option._id}?_method=PUT`, method='POST')
      .form-group
        label(for='name') Name
        input.form-control(type='text', id='name', name='name', placeholder='Option name', value=option.name)
      .form-group
        label(for='number') Number
        input.form-control(type='number', id='number', name='number', placeholder='number', value=option.number)
      a.btn.btn-outline-secondary(href='javascript:window.history.back();') Back 
      | 
      button.btn.btn-primary(type='submit') Update
