extends ../layout

block content
  .container
    h1.main-title Option
    
    table.table.table-hover
      thead
        tr
          th Name
          th Number
          th
          th
      tbody
        each option in options
          tr
            td
              a(href=`/options/${option._id}`)= option.name
            td= option.number
            td
            td
              a.btn.btn-sm.btn-outline-secondary(href=`/options/${option._id}/edit`) 
                | #[i.fa.fa-pencil] Edit
              | 
    a.btn.btn-primary(href='/options/new') #[i.fa.fa-plus] Register a new option
