
    
    
extends ../layout

block content
  .container
    h1.main-title Register
    form(action='/users', method='POST')
      .form-group
        label(for='userid') userid
        input.form-control(type='text', id='userid', name='userid', placeholder='userid')
      .form-group
        label(for='name') name
        input.form-control(type='text', id='name', name='name', placeholder='name')
      .form-group
        label(for='email') Email address
        input.form-control(type='email', id='email', name='email', placeholder='Email')
      .form-group
        label(for='password') Password
        input.form-control(type='password', id='password', name='password', placeholder='Password')
      .form-group
        label(for='password_confirmation') Password Confirmation
        input.form-control(type='password', id='password_confirmation', name='password_confirmation', placeholder='Password')
      .form-group
        label(for='email') adminflag(일반 유저 : 0, 관리자 : 1)
        input.form-control(type='number', id='adminflag', name='adminflag', placeholder='adminflag')
      a.btn.btn-outline-secondary(href='/csrusers') List
      | 
      button.btn.btn-primary(type='submit') Register 
