extends ../layout

block content
  .container
    .row
      .col-xs-6
        a.main-title(href='/statistics/login') 로그인 로그
      .col-xs-6
        .btn-group
          button.btn.btn-default(type='button') 선택하세요
          button.btn.btn-default.dropdown-toggle(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
            span.caret
            span.sr-only Toggle Dropdown
          ul.dropdown-menu
            li
              a(href='/statistics/login') 로그인 기록
            li
              a(href='/statistics/corporation') 법인별
            li
              a(href='/statistics') 구분별
    .row
      form(action="/statistics/login/download" method='POST')
        .col-lg-12
          input(type='text', id='datepicker' name='date' value=date)
          | (*날짜 선택 후 다운로드 클릭)
        .col-lg-12
          br
          button.btn.btn-outline-default#download_button(type="submit") 다운로드
          
          
    .row
      if log
        textarea(rows='15' cols='160')=log
      else
        .content 결과가 없습니다.
      
  //- iframe(src='/log/system.log.2020-08-06' width='100px' height='300px')
  script.
    $("#datepicker").datepicker({

    showOn: "both", 

    changeMonth: true, // 월을 바꿀수 있는 셀렉트 박스를 표시한다.

    changeYear: true, // 년을 바꿀 수 있는 셀렉트 박스를 표시한다.

    minDate: '-100y', // 현재날짜로부터 100년이전까지 년을 표시한다.

    nextText: '다음 달', // next 아이콘의 툴팁.

    prevText: '이전 달', // prev 아이콘의 툴팁.

    numberOfMonths: [1,1], // 한번에 얼마나 많은 월을 표시할것인가. [2,3] 일 경우, 2(행) x 3(열) = 6개의 월을 표시한다.

    stepMonths: 3, // next, prev 버튼을 클릭했을때 얼마나 많은 월을 이동하여 표시하는가. 

    yearRange: 'c-100:c+10', // 년도 선택 셀렉트박스를 현재 년도에서 이전, 이후로 얼마의 범위를 표시할것인가.

    showButtonPanel: true, // 캘린더 하단에 버튼 패널을 표시한다. 

    currentText: '오늘 날짜' , // 오늘 날짜로 이동하는 버튼 패널

    closeText: '닫기',  // 닫기 버튼 패널

    dateFormat: "yy-mm-dd", // 텍스트 필드에 입력되는 날짜 형식.

    showAnim: "slide", //애니메이션을 적용한다.

    showMonthAfterYear: true , // 월, 년순의 셀렉트 박스를 년,월 순으로 바꿔준다. 

    dayNamesMin: ['월', '화', '수', '목', '금', '토', '일'], // 요일의 한글 형식.

    monthNamesShort: ['1월','2월','3월','4월','5월','6월','7월','8월','9월','10월','11월','12월'] // 월의 한글 형식.

    });
    const TAB = ' '; function prettyJson(jsonText) { if(!jsonText) { return jsonText; } var prettyJson = new Array(); var depth = 0; var currChar; var prevChar; var doubleQuoteIn = false; for(var i = 0; i < jsonText.length; i++) { currChar = jsonText.charAt(i); if(currChar == '\"') { if(prevChar != '\\') { doubleQuoteIn = !doubleQuoteIn; } } switch(currChar) { case '{': prettyJson.push(currChar); if(!doubleQuoteIn) { prettyJson.push('\n'); insertTab(prettyJson, ++depth); } break; case '}': if(!doubleQuoteIn) { prettyJson.push('\n'); insertTab(prettyJson, --depth); } prettyJson.push(currChar); break; case ',': prettyJson.push(currChar); if(!doubleQuoteIn) { prettyJson.push('\n'); insertTab(prettyJson, depth); } break; default: prettyJson.push(currChar); break; } prevChar = currChar; } return prettyJson.join(''); } function insertTab(prettyJson, depth) { for(var i = 0; i < depth; i++) { prettyJson.push(TAB); } }
    var jsonText = $('#prettyJson').text();
    var prettyText = prettyJson(jsonText);    
    $('#prettyJson').text(prettyText);
    
