.answer.card(id= answer.id)
  .nav.nav-pill
    li(role='presentation')
      a(href='#') 수정

  .card-body
    .content!= answer.noticeContent
  .row.card-body
    .col-sm
    .col-sm.text-right
      .author
        | answered on #{moment(answer.createdAt).format('YYYY-MM-DD')}
        if answer.author
          | 
          | by #[a(href=`/users/${answer.author.id}`)= answer.author.name]
