
.form-group
  label(for="title") 제목
  input.form-control(type="text", name="title", placeholder="제목", value=question.title)
.form-group
  event 담당자
           .event-topic
               select#event-tomenu.form-control(name='place')
                   option 김기권
                   option 금봉권
                   option 경민구
                   option 김우성
                   option 강현모
    

  event 법인
           .event-topic
               select#event-tomenu.form-control(name='eventtopic')
                   option 아모텍
                   option 아모센스
                   option 아모그린텍
                   option 아모라이프사이언스


.form-group
  label(for='editor') 내용
  textarea#editor.form-control(name='noticeContent' cols='100' rows='60')

  script.
      CKEDITOR.replace('editor');


   	


 
