.content!= question.noticeContent

.row


  .col-sm
    .author
      | upload on #{moment(question.createdAt).format('YYYY-MM-DD')}
      if question.author
        | 
        | by #[a(href=`/users/${question.author.id}`)= question.author.name] 
  .col-sm
    if question.manager
      |
      | 담당자 #[a(href=`/users/${question.manager.id}`)= question.manager.name]
        
        
