.content(style="max-width:100%, height:auto")!= question.noticeContent

.row
  .col-sm
    .numbers.


  .col-sm
    .author
      | upload on #{moment(question.createdAt).format('YYYY-MM-DD')}
      if question.author
        | 
        | by #[a(href=`/users/${question.author.id}`)= question.author.name] 
        
