extends ../layout

block content
  .container
    h1.main-title 새 질문
    form(action="/questions" method="POST")
      include _form
      button.btn.btn-outline-primary#sub_button(type="submit") 등록

  script.
    $('#sub_button').on('click', function(event){
      if($("#event-tomenu1").val()==''){
        console.log("empty1");
        alert('법인을 선택해주세요.');
        event.preventDefault();
      }
      if($("#event-tomenu2").val()==''){
        console.log("empty2");
        alert('담당자를 선택해주세요.');
        event.preventDefault();
      }
      if($("#event-tomenu3").val()==''){
        console.log("empty3");
        alert('구분 항목을 선택해주세요.');
        event.preventDefault();
      }
    });
